.banner {
    max-width: 1024px;
    height: 460px;
    background-color: var(--pages-color1);
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    &--loading {
        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to right, var(--pages-color1) 0%, rgba(0,0,0,0.07) 20%, var(--pages-color1)  40%, var(--pages-color1) 100%);
            background-repeat: no-repeat;
            background-size: 1500px 500px;
            animation: shimmer 2s linear infinite;
        }
    }

    img {
        width: 65%;
        right: 0;
        min-height: 100%;
        object-fit: cover;
        margin-top: 0;
        position: absolute;
    }

    .gradient {
       width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
    }

    &__text {
        width: 50%;
        z-index: 3;
        position: relative;
        margin: 0 0 0 3rem;
        max-width: 40%;
        font-weight: 900;
        color: var(--white);
        
        &--bold {        
            text-transform: uppercase;
            font-weight: 900;
        }

        &--hip {
            font-weight: 200;
            font-style: italic;        
        }
    }
}
