.banner {
    max-width: 1024px;
    height: 460px;
    background-color: var(--bg-color);
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    
    &--loading {
        &::before {

        }
        svg {
            width: 160px;
            height: 160px;
            animation: pulse 4s ease-in-out infinite;
            position: absolute;
            top: 30%;
            fill: var(--accent-color);
            left: 40%;
        }
    }

    img {
        width: 65%;
        right: 0;
        min-height: 100%;
        object-fit: cover;
        margin-top: 0;
        position: absolute;
    }

    .gradient {
       width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
    }

    &__text {
        width: 50%;
        z-index: 3;
        position: relative;
        margin: 0 0 0 3rem;
        max-width: 40%;
        font-weight: 900;
        color: var(--bg-color);
        
        &--bold {        
            text-transform: uppercase;
            font-weight: 900;
        }

        &--hip {
            font-weight: 200;
            font-style: italic;        
        }
    }
}

@keyframes pulse {
    0% {
        /*transform: scale(1);*/
        transform-origin: center center;
        transform: rotate(-360deg) scale(1);
      }
      75% {
        /*transform: scale(1.1);*/
        transform-origin: center center;
        transform: rotate(-270deg) scale(1.5);
      }
      100% {
        /*transform: scale(1);*/
        transform-origin: center center;
        transform: rotate(0) scale(1);
      }
}