.navigation {
    background-color: var(--bg-color);
    z-index: 5;
    width: 1024px;
    width: 550px;
    border: 6px var(--text-color) solid;
    border-top: unset;
    border-radius: 0 0 1rem 1rem;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: 'M PLUS Rounded 1c', sans-serif;

    
    li {
        padding: 0 10px;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__items {
        .home {
            display: flex;
            height: 64px;
            align-items: center;
        
            svg {
                width: 40px;
                margin-top: -5px;
                height: 30px;
                fill: var(--accent-color)
            }  
        }
        
        a {
            color:  var(--accent-color);
            transition: unset;
            &:hover {
                background-color: var(--accent-color);
                color: var(--bg-color);
                height: 58px;
            }
        }

        &--home {
            background-color:  var(--accent-color);
        }
    }
}