.navigation {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    position: fixed;
    top: 0;
    z-index: 5;

    li {
        padding: 0 20px;
    }

    &__items {
        .home {
            display: flex;
            height: 64px;
            align-items: center;
        
            svg {
                width: 40px;
                margin-top: -5px;
                height: 30px;
                fill: var(--accent-color)
            }  
        }
        
        a {
            color:  var(--accent-color);
        }

        &--home {
            background-color:  var(--accent-color);
        }
    }
}