.mainblock{
    .side {
        border: 2px var(--accent-color) solid;
        border-radius: 0.5rem;
        margin-top: 3rem;
        margin-left: 2rem !important;
        padding: 2rem;

        &__image {
            width: 150px;
            height: 150px;
            border-radius: 1000px;
            background: var(--text-color);
            overflow: hidden;

            img {
                width: 150px;
                height: 150px;
            }
        }
        .line-1 {
            height: 30px;
            border-radius: 30px;
        }
    }
}