@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
@import "materialize.scss";
@import "banner.scss";
@import "mainpage.scss";
@import "navigation.scss";
@import "textblock.scss";
@import "variation.scss";
@import "generation.scss";
@import "side.scss";
@import "anim.scss";

:root {
    --main-bg-color: #444cf7;
    --main-bg-color-light: #a1a6ff;
    --main-bg-color2: #e5e5f7;
    --pages-color1: #eae8ffff;
    --pages-color2: #d8d5dbff;


    --accent-color: #fff;
    --text-color: #fff;
    --bg-color: #000;
    --white: #fff;
    --black: #000;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--pages-color3);
}
