.mainblock {
    background-color: var(--pages-color2);
    color: var(--black);
    max-width: 1024px;
    width: 85%;
    padding-bottom: 4rem;
    
    &__section {
        padding: 1rem 3rem;

        &--loading {
            .line {
                border-radius: 10px;
                height: 15px;
                margin: 10px 0;
                overflow: hidden;
                position: relative;
                animation: shimmer 2s linear infinite;
                background: var(--pages-color4);

                &-1 {
                    width: 90%;
                }

                &-3 {
                    width: 70%;
                }

                &-4 {
                    width: 75%;
                }
                &-6 {
                    width: 85%;
                }
                &-8 {
                    width: 95%;
                }

                &::before {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(to right, var(--pages-color4) 0%, rgba(0,0,0,0.07) 20%, var(--pages-color4)  40%, var(--pages-color4) 100%);
                    background-repeat: no-repeat;
                    background-size: 1500px 250px;
                    animation: shimmer 2s linear infinite;
                }
            }
        }
    }
}

@for $i from 1 through 7 {
    .mainblock__section--loading .line:nth-child(#{$i}n)::before {
        animation-delay: #{$i * 0.3}s;
    }
}
@keyframes shimmer {
    0%{
        background-position: -1500px 0;
      }
      100%{
        background-position: 1500px 0;
      }
}