.mainblock {
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1024px;
    width: 85%;
    border-radius: 2rem;
    border: 2px var(--bg-color) solid;
    overflow: hidden;
    margin-top: 6rem;

    .row {
        margin: unset;
    }

    &__text {
        &.col {
            padding: 2rem 4rem;
        }
    }

    &__body {
        padding: unset;
    }

    &__section {
        padding: unset;

        &--loading {
            .line {
                border-radius: 10px;
                height: 15px;
                margin: 10px 0;
                overflow: hidden;
                position: relative;
                animation: shimmer 2s linear infinite;
                background: var(--pages-color2);

                &-1 {
                    width: 90%;
                }

                &-3 {
                    width: 70%;
                }

                &-4 {
                    width: 75%;
                }
                &-6 {
                    width: 85%;
                }
                &-8 {
                    width: 95%;
                }

                &::before {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(to right, var(--pages-color1) 0%, rgba(0,0,0,0.07) 20%, var(--pages-color1)  40%, var(--pages-color1) 100%);
                    background-repeat: no-repeat;
                    background-size: 1500px 250px;
                    animation: shimmer 2s linear infinite;
                }
            }
        }
    }
}

@for $i from 1 through 7 {
    .mainblock__section--loading .line:nth-child(#{$i}n)::before {
        animation-delay: #{$i * 0.3}s;
    }
}
@keyframes shimmer {
    0%{
        background-position: -1500px 0;
      }
      100%{
        background-position: 1500px 0;
      }
}