.variation {
    background-color: var(--pages-colorgen2);
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to left, var(--pages-color3), var(--pages-color3) 2px,  var(--white) 2px, var(--white));
}